
body {
  font-family: Lato, Calibri, Arial, sans-serif;
  margin: 50px;
  border: 3px solid cornflowerblue;


}

.cbp-vm-options .cbp-vm-icon {

  text-decoration: none;
  display: inline-block;
  width: 5em; height: 5em;
}

.cbp-vm-options {
  text-align: right;
}

ul {
  border-top: 3px solid cornflowerblue;
  display: block;

}

li {
  display: inline-block;
  width: 33%;

}

.cbp-vm-title, .cbp-vm-details {
  color: cornflowerblue;
  text-align: center;

}

.cbp-vm-title {
  font-size: 25pt;
}


.cbp-vm-price {
  color: lightgrey;
  font-size: 20pt;
  text-align: center;
}

.cbp-vm-image { /*List  view add float*/
margin: 33%;
}

.cbp-vm-icon, .cbp-vm-add {
  text-align: center;
}
