
body {
	font-family: Arial, sans-serif;
	color: cornflowerblue;
}

.tabs {
	position: relative;
	width: 100%;
	margin-top: 1em;
}

.tabs nav {
	text-align: center;
	border-bottom-color: cornflowerblue;
	border-bottom-style: solid;
	border-bottom-width: thin;

}

.tabs nav ul {
	display: inline-block;
	list-style: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.tabs nav ul li {
	float: left;
	display: block;
	position: relative;
	margin: 0 0.25em;
	font-size: 25px;
	padding: 0 25px 0 25px;
	height: 50px;
	line-height: 50px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: lightgray;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: lightgray;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: lightgray;

}

a {
	text-decoration: none;
	color: lightgray;
	font-size: 20px;
}

.content {
	padding: 0 60px 0 60px;
}

.content section[id^="section-"] {
	display: none;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 50px;
}

.content section[id^="section-"].content-current {
	display: block;
}

.content section[id^="section-"]::after {
	content: " ";
	display: table;
	clear: both;
}

.mediabox {
	width: 33%;
	float: left;
	padding-right: 1.5em;
	padding-left: 1.5em;
	box-sizing: border-box;
}

.mediabox img {
	width: 100%;
}
